@(changePassForm: Form[(String, String, String)])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

<div class="well">
    <p>Admin page!</p>
    <p>You probably should not be here!!</p>

    <p class="text-success">@flash.get("chgPassMsg")</p>
    @form(action = routes.Admin.changePass) {
      <legend>Change your password:</legend>

      @inputPassword(changePassForm("currPass"), '_label -> "Current Password: ")
      @inputPassword(changePassForm("newPass"), '_label -> "New Password: ")
      @inputPassword(changePassForm("newPassRepeat"), '_label -> "New Password Again: ")

      <input type="submit" value="Enviar">
    }
    <p class="text-error">@changePassForm.error("").map(_.message)</p>
</div>
