@(itemForm: Form[(String, String, BigDecimal, String, List[String])], categories: Seq[(String, String)])

@import helper._
@import helper.twitterBootstrap._

@* re-usable picture field *@
@pictureField(field: Field, className: String = "picture") = {
  @input(field, '_label -> "Pictures", '_class -> className) { (id, name, value, _) =>
    <input class="input-file btn" type="file" name="@name" value="@value">
    <a class="removePicture btn danger">Remove</a>
  }
}

<div class="well">
    <h2>Adicionar um novo item</h2>

    @form(action = routes.Admin.newItem, 'enctype -> "multipart/form-data") {
      @inputText(itemForm("name"), '_label -> "Name: ")
      @textarea(itemForm("description"), '_label -> "Description: ")
      @inputText(itemForm("minValue"), '_label -> "Lance mínimo: ")
      @select(itemForm("category"), options = categories, '_label -> "Category: ")

      <div class="pictures">
          @repeat(itemForm("pictures"), min = 0) {picField =>
            @pictureField(picField)
          }
          @pictureField(itemForm("pictures[x]"), className = "picture_template")

          <div class="clearfix">
              <div class="input">
                  <a class="addPicture btn success">Add Picture</a>
              </div>
          </div>
      </div>

      <input class="btn primary" type="submit" value="Enviar">
    }
</div>

<script type="text/javascript" charset="utf-8">
    $('.addPicture').live('click', function(e) {
        var pictures = $(this).parents('.pictures');
        var template = $('.picture_template', pictures);
        template.before('<div class="clearfix picture">' + template.html() + '</div>');
        renumberPics();
    });

    $('.removePicture').live('click', function(e) {
        $(this).parents('.picture').remove();
        renumberPics();
    });

    var renumberPics = function() {
        $('.picture input').each(function(i) {
            $(this).attr('name', $(this).attr('name').replace(/pictures\[.+\]/g, 'pictures[' + i + ']'));
        });
    }
</script>
