@(itemForm: Form[(String, String, BigDecimal, String, List[String])], categories: Seq[(String, String)])(implicit messages: Messages)

@import helper._

@* re-usable picture field *@
@pictureField(field: Field, className: String = "picture") = {
  @input(field, Symbol("_label") -> "Pictures", Symbol("_class") -> className) { (_, name, value, _) =>
    <input class="input-file btn" type="file" name="@name" value="@value">
    <a class="removePicture btn danger">Remove</a>
  }
}
@pictureField(itemForm("pictures[x]"), className = "picture_template")

<div class="well">
    <h2>Adicionar um novo item</h2>

    @form(action = controllers.admin.routes.ItemAdmin.newItem(), Symbol("enctype") -> "multipart/form-data") {
      @inputText(itemForm("name"), Symbol("_label") -> "Name: ")
      @textarea(itemForm("description"), Symbol("_label") -> "Description: ")
      @inputText(itemForm("minValue"), Symbol("_label") -> "Lance mínimo: ")
      @select(itemForm("category"), options = categories, Symbol("_label") -> "Category: ")

      <div class="pictures">
          @repeat(itemForm("pictures"), min = 0) {picField =>
            @pictureField(picField)
          }

          <div class="clearfix">
              <div class="input">
                  <a class="addPicture btn success">Add Picture</a>
              </div>
          </div>
      </div>

      <input class="btn primary" type="submit" value="Enviar">
    }
</div>

<script type="text/javascript" charset="utf-8">
    $('.addPicture').live('click', function(e) {
        var pictures = $(this).parents('.pictures');
        var template = $('.picture_template');
        pictures.children().last().before('<div class="clearfix picture">' + template.html() + '</div>');
        renumberPics();
    });

    $('.removePicture').live('click', function(e) {
        $(this).parents('.picture').remove();
        renumberPics();
    });

    var renumberPics = function() {
        $('.picture input').each(function(i) {
            $(this).attr('name', $(this).attr('name').replace(/pictures\[.+\]/g, 'pictures[' + i + ']'));
        });
    }
</script>
