<div class="well">
    <h2>About lojinha! (mini-store)</h2>

    <p>This mini-store has two purposes:</p>

    <ul>
        <li>test technologies like Akka 2 and the Play Framework 2</li>
        <li>sell (for real) things I don't use or want anymore</li>
    </ul>

    <p>If you want to know more about the first item, take a look at the source code in my
        github: <a href="http://github.com/jcranky/lojinha" target="_window">github.com/jcranky/lojinha</a></p>

    <p>Otherwise, this is how the bidding works. First, its an informal auction,
        without pressure for me to sell or you to buy. Make your bid and, if its a fair one,
        I'll get in touch so that we can discuss the details. Values in Reals please (or contact me directly).</p>

    <p>About the delivery, I live in Mogi das Cruzes. That means I can deliver in person around here.
        I can also deliver in person in SP, since I have to go there from time to time. For other cities
        I'll mail the items, but the mail fare is on the buyer.</p>

    <p>You can also contact me directly. I'm <strong>jcranky</strong> on twitter and github,
        and my site is <a href="http://jcranky.com" target="_window">jcranky.com</a>. So it is not
        hard to find me.</p>

    <p>thanks!</p>
</div>
