
<div class="well">
    <h2>Sobre a lojinha!</h2>

    <p>Criei essa lojinha com dois prop&oacute;sitos:</p>

    <ul>
        <li>testar tecnologias como Akka e Play Framework 2</li>
        <li>vender (de verdade) coisas que não uso / não quero mais</li>
    </ul>

    <p>Se estiver mais interessado no primeiro aspecto, dê uma olhada no código-fonte no meu
        github: <a href="http://github.com/jcranky/lojinha" target="_window">github.com/jcranky/lojinha</a></p>

    <p>Caso contrário, é assim que funciona o leilão. Primeira coisa, é um leilão bem informal,
        sem pressão nem para quem der o lance comprar, nem para que eu venda. Dê o seu lance, se o valor
        for justo eu vou entrar em contato, e a gente discute os detalhes.</p>

    <p>Quanto &agrave; entrega, estou em Mogi das Cruzes. Isso quer dizer que entrego pessoalmente
        por aqui. Tamb&eacute;m podemos combinar a entrega pessoalmente em SP, já que vou frequentemente
        para l&aacute;. Para outras cidades, envio por correio, mas o custo do frete é por conta do comprador.</p>

    <p>Se quiser entrar em contato diretamente também, sem problemas. Meu usuário é <strong>jcranky</strong> no twitter e
        no github, e meu blog é <a href="http://jcranky.com" target="_window">jcranky.com</a>. Portanto
        não é difícil me achar.</p>

    <p class="text-warning">Disclaimer: Only portuguese description for now, english to come.</p>
</div>
