@(items: Seq[Item])
@import models.images.MediumThumb

<div class="well">
    <ul class="unstyled">
        @items.map {item =>
        <li class="item-li">
            <a href="@routes.Items.details(item.id)">
                <div class="pic-m-thumb">
                    @item.imageKeys.map {imageKeys => <img src="@Images.generateUrl(imageKeys.split('|').head, MediumThumb)" class="img-polaroid">}
                </div>
                <p>@item.name - @item.description</p>
            </a>
        </li>
        }
    </ul>
</div>
