@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(title: String = "Lojinha! To vendendo!", body: Html, menu: Html, user: Option[User] = None)(implicit request: play.api.mvc.Request[Any], messages: Messages, configuration: play.api.Configuration)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Lojinha onde estou vendendo muitas das minhas coisas que não uso mais, entre e faça um lance justo!">

        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <link rel="alternate" type="application/atom+xml" title="Feed da Lojinha!" href="@routes.Feeds.latest()" >

        @webJarsUtil.locate("bootstrap.min.css").css()
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        @webJarsUtil.locate("jquery.min.js").script()
        @webJarsUtil.locate("js/bootstrap.min.js").script()
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@routes.Application.index()" id="logo">Lojinha!</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@routes.Application.index()">Home</a></li>
                            <li><a href="@routes.Application.about()">About</a></li>
                            <li>
                                <a href="@routes.Feeds.latest()" type="application/atom+xml"><img src="@routes.Assets.versioned("images/atom.gif")"></a>
                            </li>
                        </ul>
                        @user.map{u => <span class="user nav pull-right">@u.name</span>}
                        <span class="user nav pull-right">
                            <select id="selectlang" onchange="switchLang()">
                                @configuration.get[Seq[String]]("play.i18n.langs").map { langCode =>
                                    <option value="@langCode" @if(messages.lang.code == langCode){ selected="selected"}>@langCode</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">@menu</div>
                    <div class="col-md-10">@body</div>
                </div>

                @footer()
            </div>
        </div>
    </body>
    <script>
    function switchLang(){
        var codeLang = $("#selectlang").val();
        jsRoutes.controllers.Application.lang(codeLang).ajax();
        $(document).ready(function() {
          setInterval(function() {
            cache_clear()
          }, 800);
        });
        function cache_clear() {
        window.location.reload(true);
        }
    }
    </script>
</html>
