@(item: Item, highestBid: Option[Bid], bidForm: Form[(String, Int)])

@import helper._
@import helper.twitterBootstrap._
@import models.images.LargeThumb

<div class="well">
    <table style="width: 100%">
        <tr>
            <td>Nome</td>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>Descri&ccedil;&atilde;o</td>
            <td>@item.description</td>
        </tr>
        <tr>
            <td>Maior lance</td>
            <td class="highestBid">@highestBid.map(_.value).getOrElse("-")</td>
        </tr>
    </table>

    <div>
        @item.imageKeys.getOrElse("").split('|').map {imageKey =>
            <img src="@Images.generateUrl(imageKey, LargeThumb)" class="img-polaroid">
        }
    </div>

    <hr />

    @form(routes.Items.newBid(item.id)) {
      <legend>Novo Lance:</legend>
      @inputText(bidForm("email"))
      @inputText(bidForm("value"))
      <input type="submit" value="Enviar">
    }
</div>

<script type="text/javascript">
  // periodically verify for higher bids, in a closure to make this function 'local'
  (function worker() {
    $.get('/items/@item.id/highestBid', function(data) {
      $('.highestBid').html(data);
      setTimeout(worker, 5000);
    });
  })();
</script>
