@(item: Item, highestBid: Option[Bid], bidForm: Form[(String, Int, Boolean)])(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import models.images._

<div class="well">
    <table style="width: 100%">
        <tr>
            <td>Nome</td>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>Descri&ccedil;&atilde;o</td>
            <td><pre>@item.description</pre></td>
        </tr>
        <tr>
            <td>Maior lance</td>
            <td class="highestBid">@highestBid.map(_.value).getOrElse("-")</td>
        </tr>
        <tr>
            <td>Lance m&iacute;nimo</td>
            <td>@item.minValue</td>
        </tr>

        @request.session.get("email").map { username =>
            <tr>
              @if(!item.sold) {
                <td>
                  @form(routes.Admin.itemSold(item.id)) {
                    <input type="submit" id="soldButton" value="Vendido!">
                  }
                </td>
              }
              <td>
                @form(routes.Admin.deleteItem(item.id)) {
                    <input type="submit" id="deleteButton" value="Delete!">
                }
              </td>
            </tr>
        }
    </table>

    <div>
        @item.imageKeys.map(_.split('|').map {imageKey =>
        <a href="#imgModal" data-toggle="modal"
           onclick={"javascript:changeModalImg('" + Images.generateUrl(imageKey, VeryLargeThumb) + "')"}>
              <img src={Images.generateUrl(imageKey, LargeThumb)} class="img-polaroid" />
          </a>
        }).getOrElse("")
        
        <div id="imgModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">@item.name</h3>
            </div>
            <div class="modal-body">
                <img id="imgTag">
            </div>
        </div>
    </div>

    <hr />

    @if(item.sold) {
      <p id="soldWarning" class="text-warning">Vendido!</p>
    } else {
      @form(routes.Items.newBid(item.id), args = 'id -> "newBidForm") {
        <legend>Novo Lance:</legend>
        @inputText(bidForm("email"), '_label -> "e-mail")
        @inputText(bidForm("value"), '_label -> "valor")
        @checkbox(bidForm("notifyBetterBids"), '_label -> "avisar se o lance for superado")
        <input type="submit" value="Enviar">
      }
    }
</div>

<script type="text/javascript">
  // periodically verify for higher bids, in a closure to make this function 'local'
  (function worker() {
    $.get('/items/@item.id/highestBid', function(data) {
      $('.highestBid').html(data);
      setTimeout(worker, 5000);
    });
  })();
  
  function changeModalImg(src) {
    $('#imgTag').attr('src', '');
    $('#imgTag').attr('src', src);
  }
</script>
