@(form: Form[(String,String)])(implicit flash: Flash)

<div class="well">
@helper.form(routes.Application.authenticate()) {
    <h2>Sign in</h2>

    @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
    }

    @flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
    }

    <p>
        <input type="email" name="email" placeholder="Email" id="email" value='@form("email").value'>
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
        <button type="submit" id="loginbutton">Login</button>
    </p>
}
</div>

<script type="text/javascript">
    $("#email").focus();
</script>
